<nav class="menu-item has-mega-menu" id="categories-menu">
    <ul class="menu">
        <li class="menu-item">
            <a href="#">Categories</a>
            <span class="click-categories flaticon-bars"></span>
            <div class="category-drop-list">
                <div class="category-drop-list-inner">
                    <ul class="sub-menu sub-menu-open">
                        <li class="menu-item"><a href="#">Automovie & Motorcyle</a></li>
                        <li class="menu-item"><a href="#">Electronics</a></li>
                        <li class="menu-item"><a href="#">Sport & Outdoors</a></li>
                        <li class="menu-item has-mega">
                            <a href="#">Smartphone & Table</a>
                            <div class="sub-menu mega-menu">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="mega-content">
                                            <p class="mega-item-title">Mobile Phones</p>
                                            <ul class="menu">
                                                <li class="menu-item"><a href="#">Octa Core</a></li>
                                                <li class="menu-item"><a href="#">Quad Core</a></li>
                                                <li class="menu-item"><a href="#">Single SIM Card</a></li>
                                                <li class="menu-item"><a href="#">Dual SIM Card</a></li>
                                                <li class="menu-item"><a href="#">3GB RAM</a></li>
                                                <li class="menu-item"><a href="#">5.0 Display</a></li>
                                            </ul>
                                        </div>
                                        <div class="mega-content">
                                            <p class="mega-item-title">Mobile Phone Part</p>
                                            <ul class="menu">
                                                <li class="menu-item"><a href="#">Mobile Phone LCDs</a></li>
                                                <li class="menu-item"><a href="#">Mobile Phone Batteries</a></li>
                                                <li class="menu-item"><a href="#">Mobile Phone Housings</a></li>
                                                <li class="menu-item"><a href="#">Signal Boosters</a></li>
                                                <li class="menu-item"><a href="#">SIM Card & Tools</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mega-content">
                                            <p class="mega-item-title">Phone Bag Cases</p>
                                            <ul class="menu">
                                                <li class="menu-item"><a href="#">Pouches</a></li>
                                                <li class="menu-item"><a href="#">Bumper Cases</a></li>
                                                <li class="menu-item"><a href="#">Waterproof Cases</a></li>
                                                <li class="menu-item"><a href="#">Leather Cases</a></li>
                                                <li class="menu-item"><a href="#">Aluminum Cases</a></li>
                                                <li class="menu-item"><a href="#">Rhinestone Cases</a></li>
                                            </ul>
                                        </div>
                                        <div class="mega-content">
                                            <p class="mega-item-title">Walkies Talkies</p>
                                            <ul class="menu">
                                                <li class="menu-item"><a href="#">Walkie-Talkies</a></li>
                                                <li class="menu-item"><a href="#">Walkie-Talkie Accessories</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mega-content">
                                            <p class="mega-item-title">Mobile Phone Accessories</p>
                                            <ul class="menu">
                                                <li class="menu-item"><a href="#">Backup Battery Packs</a></li>
                                                <li class="menu-item"><a href="#">Screen Protectors</a></li>
                                                <li class="menu-item"><a href="#">Mobile Phone Cables</a></li>
                                                <li class="menu-item"><a href="#">Chargers</a></li>
                                                <li class="menu-item"><a href="#">Holders & Stands</a></li>
                                                <li class="menu-item"><a href="#">Mobile Phone Lenses</a></li>
                                            </ul>
                                        </div>
                                        <div class="mega-content">
                                            <p class="mega-item-title">Comunications Equiment</p>
                                            <ul class="menu">
                                                <li class="menu-item"><a href="#">Antennas for Communications</a></li>
                                                <li class="menu-item"><a href="#">Communication Cables</a></li>
                                                <li class="menu-item"><a href="#">Fiber Optic Equipment</a></li>
                                                <li class="menu-item"><a href="#">Fixed Wireless Terminals</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="img-mega">
                                            <figure><img src="assets/images/mega.jpg" alt="mega" height="458" width="229"></figure>
                                            <div class="img-mega-asblute">
                                                <p>SAMSUNG</p>
                                                <h3>Galaxy S7 Edge</h3>
                                                <a href="#" class="button orange">shop now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menu-item"><a href="#">Health & Beauty</a></li>
                        <li class="menu-item"><a href="#">Bags & Shoes</a></li>
                        <li class="menu-item"><a href="#">Accessories</a></li>
                        <li class="menu-item"><a href="#">Toy & Hobbies</a></li>
                        <li class="menu-item"><a href="#">Computer & Networking</a></li>
                        <li class="menu-item"><a href="#">Laptop & Accessories</a></li>
                        <li class="menu-item"><a href="#">Camera & Lamp</a></li>
                        <li class="menu-item"><a href="#">Fashion & Accecssories</a></li>
                        <li class="menu-item"><a href="#">Watch & Shoes</a></li>
                        <li class="menu-item"><a href="#">Fashion & Accecssories</a></li>
                        <li class="menu-item"><a href="#">Watch & Shoes</a></li>
                    </ul>
                    <span class="more-categories open-cate">More Categories</span>
                </div>
            </div>
        </li>
    </ul>
</nav>