<div class="header-search">
    <form action="form.php" class="form form-search-header">
        <select name="show-categories" id="show-categories">
            <option value="all">All Categories</option>
            <option value="Automovie & Motorcyle">Automovie & Motorcyle</option>
            <option value="Electronics">Electronics</option>
            <option value="Sport & Outdoors">Sport & Outdoors</option>
            <option value="Handbags">Handbags </option>
            <option value="Fashion">Fashion </option>
            <option value="camera & usb">camera & usb</option>
            <option value="smartphone & headphone">smartphone & headphone</option>
        </select>
        <input type="text" placeholder="Search...">
        <button class="button-search"><i class="flaticon-search"></i></button>
    </form>
</div>
