<div class="header-bottom-right-content cart-menu-relative">
    <div class="cart-menu">
        <a href="#">
            <i class="flaticon-commerce"></i>
            Cart
            <i class="fa fa-caret-down" aria-hidden="true"></i>
            <p class="cart-amount">6</p>
        </a>
    </div>
    <div class="cart-hover">
        <div class="cart-hover-title">Your Products <span>Prices</span></div>
        <ul class="list-hover-cart">
            <li class="hover-cart-item">
                <a href="#" class="img-hover-cart">
                    <img src="assets/images/img-hover-cart.jpg" alt="img-hover-cart" width="75" height="89">
                    <span class="delete-product-hover-cart"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                </a>
                <div class="text-hover-cart">
                    <a href="#" class="name-hover-cart">
                        Men's Skagen Watch
                        Vesion 2.0
                    </a>
                    <div class="quantity">
                        <p class="quanlity-hover-cart">Quanlity: <span>1</span></p>
                    </div>
                </div>
                <div class="price-hover-cart">$150</div>
            </li>
        </ul>
        <div class="subtotal-hover-cart">Subtotal <span>$150</span></div>
        <div class="button-cart-hover">
            <a href="#" class="go-to-cart button">Go to cart</a>
            <a href="#" class="check-out button orange">Check Out</a>
        </div>
    </div>
</div>