<div class="banner banner-home banner-home1">
    <div class="supermartket-owl-carousel" data-number="1" data-margin="0" data-navcontrol="yes" data-dots="yes">
        <div class="banner-home1-content slide1">
            <div class="container">
                <h3 class="wow fadeInRight" data-wow-delay="0.6s">The Victoria Grand Cuisine</h3>
                <p class="sile-desc wow fadeInRight" data-wow-delay="0.6s">
                    LG 4k UHD features 8.3 milion pixels and four times<br />
                    the resolution of Full HD 1080p.
                </p>
                <a class="button dark wow fadeInRight" data-wow-delay="0.6s" href="#">Shop Now</a>
            </div>
        </div>
        <div class="banner-home1-content slide2">
            <div class="container">
                <h3>The Victoria Grand<br />Cuisine</h3>
                <p class="sile-desc">
                    LG 4k UHD features 8.3 milion pixels<br />
                    and four times the resolution.
                </p>
                <a class="button" href="#">Shop Now</a>
            </div>
        </div>
        <div class="banner-home1-content slide3">
            <div class="container">
                <h3>The Victoria Grand<br />Cuisine</h3>
                <p class="sile-desc">
                    LG 4k UHD features 8.3 milion pixels <br />and four times
                    the resolution
                </p>
                <a class="button drak" href="#">Shop Now</a>
            </div>
        </div>
    </div>
    <div class="container banner-absolutes">
        <div class="banner-absolute banner-asblute-right">
            <ul class="list-banner">
                <li class="banner-item banner-item1">
                    <h5 class="banner-item-title">Sound</h5>
                    <p class="banner-item-desc">
                        Headphone<br />CDs 4000
                    </p>
                    <a href="#" class="banner-item-link">Shop now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </li>
                <li class="banner-item banner-item2">
                    <h5 class="banner-item-title">Electrolux</h5>
                    <p class="banner-item-desc">
                        ECM3200 EasySense<br />Vacuum cleaner
                    </p>
                    <a href="#" class="banner-item-link">Shop now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </li>
                <li class="banner-item banner-item3">
                    <h5 class="banner-item-title">Smartphone</h5>
                    <p class="banner-item-desc">
                        Solution for your<br />Acer Smarphone
                    </p>
                    <a href="#" class="banner-item-link">Shop now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
