<section id="section2">
    <div class="container">
        <!-- Feature Products Category-->
        <div class="feature-products-category product-tabs">
            <h5 class="tab-title">Smartphone</h5>
            <div class="row">
                <div class="col-md-3">
                    <div class="left-tab">
                        <figure>
                            <img src="~/Client/assets/images/smartphone.jpg" alt="smartphone" width="268" height="579">
                            <div class="left-tab-asblute">
                                <p>A Keyring Does It All!</p>
                                <h2>Wonder<span>Cube</span></h2>
                                <a class="button bg-666" href="#">Shop Now</a>
                            </div>
                        </figure>
                    </div>
                </div>
                <div class="col-md-9">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#1b" data-toggle="tab">Samsung</a></li>
                        <li><a href="#2b" data-toggle="tab">Apple</a></li>
                        <li><a href="#3b" data-toggle="tab">Nokia</a></li>
                        <li><a href="#4b" data-toggle="tab">Oppo</a></li>
                    </ul>
                    <div class="product-tabs-content tab-content clearfix">
                        <div class="tab-pane active" id="1b">
                            <!-- Slide show -->
                            <div class="slide-thumbs slide-bx">
                                <div class="thumbs">
                                    <a data-slide-index="0" href=""><img src="~/Client/assets/images/sm-small1.jpg" alt="sm-big"></a>
                                    <a data-slide-index="1" href=""><img src="~/Client/assets/images/sm-small2.jpg" alt="sm-big"></a>
                                    <a data-slide-index="2" href=""><img src="~/Client/assets/images/sm-small3.jpg" alt="sm-big"></a>
                                </div>
                                <div class="slide-container">
                                    <div><img src="~/Client/assets/images/sm-big.jpg" alt="sm-big"></div>
                                    <div><img src="~/Client/assets/images/sm-big.jpg" alt="sm-big"></div>
                                    <div><img src="~/Client/assets/images/sm-big.jpg" alt="sm-big"></div>
                                </div>
                            </div>
                            <!-- ./Slide show -->
                        </div>
                        <div class="tab-pane" id="2b">
                            <!-- Slide show -->
                            <div class="slide-thumbs slide-bx">
                                <div class="thumbs">
                                    <a data-slide-index="0" href=""><img src="~/Client/assets/images/sm-small2.jpg" alt="sm-big"></a>
                                    <a data-slide-index="1" href=""><img src="~/Client/assets/images/sm-small2.jpg" alt="sm-big"></a>
                                    <a data-slide-index="2" href=""><img src="~/Client/assets/images/sm-small3.jpg" alt="sm-big"></a>
                                </div>
                                <div class="slide-container">
                                    <img src="~/Client/assets/images/sm-big.jpg" alt="sm-big">
                                    <img src="~/Client/assets/images/sm-big.jpg" alt="sm-big">
                                    <img src="~/Client/assets/images/sm-big.jpg" alt="sm-big">
                                </div>
                            </div>
                            <!-- ./Slide show -->
                        </div>
                        <div class="tab-pane" id="3b">
                            <!-- Slide show -->
                            <div class="slide-thumbs slide-bx">
                                <div class="thumbs">
                                    <a data-slide-index="0" href=""><img src="~/Client/assets/images/sm-small2.jpg" alt="sm-big"></a>
                                    <a data-slide-index="1" href=""><img src="~/Client/assets/images/sm-small3.jpg" alt="sm-big"></a>
                                    <a data-slide-index="2" href=""><img src="~/Client/assets/images/sm-small3.jpg" alt="sm-big"></a>
                                </div>
                                <div class="slide-container">
                                    <img src="~/Client/assets/images/sm-big.jpg" alt="sm-big">
                                    <img src="~/Client/assets/images/sm-big.jpg" alt="sm-big">
                                    <img src="~/Client/assets/images/sm-big.jpg" alt="sm-big">
                                </div>
                            </div>
                            <!-- ./Slide show -->
                        </div>
                        <div class="tab-pane" id="4b">
                            <!-- Slide show -->
                            <div class="slide-thumbs slide-bx">
                                <div class="thumbs">
                                    <a data-slide-index="0" href=""><img src="~/Client/assets/images/sm-small1.jpg" alt="sm-big"></a>
                                    <a data-slide-index="1" href=""><img src="~/Client/assets/images/sm-small2.jpg" alt="sm-big"></a>
                                    <a data-slide-index="2" href=""><img src="~/Client/assets/images/sm-small3.jpg" alt="sm-big"></a>
                                </div>
                                <div class="slide-container">
                                    <img src="~/Client/assets/images/sm-big.jpg" alt="sm-big">
                                    <img src="~/Client/assets/images/sm-big.jpg" alt="sm-big">
                                    <img src="~/Client/assets/images/sm-big.jpg" alt="sm-big">
                                </div>
                            </div>
                            <!-- ./Slide show -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section3">
    <div class="container">
        <!-- Product list -->
        <div class="product-list">
            <div class="product-list-content">
                <div class="product-media">
                    <figure><a href="#"><img src="~/Client/assets/images/p1.jpg" alt="feature" width="200" height="238"></a></figure>
                </div>
                <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                <ul class="product-item-actions">
                    <li><a href="#"><i class="flaticon-like"></i></a></li>
                    <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                    <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                </ul>
            </div>
            <div class="product-list-content">
                <div class="product-media">
                    <figure><a href="#"><img src="~/Client/assets/images/p2.jpg" alt="feature" width="200" height="238"></a></figure>
                </div>
                <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                <ul class="product-item-actions">
                    <li><a href="#"><i class="flaticon-like"></i></a></li>
                    <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                    <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                </ul>
            </div>
            <div class="product-list-content">
                <div class="product-media">
                    <figure><a href="#"><img src="~/Client/assets/images/p3.jpg" alt="feature" width="200" height="238"></a></figure>
                </div>
                <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                <ul class="product-item-actions">
                    <li><a href="#"><i class="flaticon-like"></i></a></li>
                    <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                    <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                </ul>
            </div>
            <div class="product-list-content">
                <div class="product-media">
                    <figure><a href="#"><img src="~/Client/assets/images/p4.jpg" alt="feature" width="200" height="238"></a></figure>
                </div>
                <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                <ul class="product-item-actions">
                    <li><a href="#"><i class="flaticon-like"></i></a></li>
                    <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                    <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                </ul>
            </div>
            <div class="product-list-content">
                <div class="product-media">
                    <figure><a href="#"><img src="~/Client/assets/images/p5.jpg" alt="feature" width="200" height="238"></a></figure>
                </div>
                <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                <ul class="product-item-actions">
                    <li><a href="#"><i class="flaticon-like"></i></a></li>
                    <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                    <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End .product-list -->
    </div>
</section>
<section id="section4">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 padding-right5">
                <div data-wow-delay="0.6s" class="banner-text wow zoomIn">
                    <figure><a href="#"><img alt="" src="~/Client/assets/images/banner-text1.jpg"></a></figure>
                </div>
            </div>
            <div class="col-sm-6 padding-left5">
                <div data-wow-delay="0.6s" class="banner-text wow zoomIn">
                    <figure><a href="#"><img alt="" src="~/Client/assets/images/banner-text2.jpg"></a></figure>
                </div>
            </div>
        </div>
    </div>
</section>