<section id="section5">
    <div class="container">
        <!-- Feature Products Category-->
        <div class="feature-products-category product-tabs">
            <h5 class="tab-title">Televisions & Monitor</h5>
            <div class="row">
                <div class="col-md-3">
                    <div class="left-tab">
                        <figure>
                            <img src="~/Client/assets/images/television.jpg" alt="television" width="268" height="579">
                            <div class="left-tab-asblute">
                                <h3>16 chic winter shades </h3>
                                <span>
                                    To protect your eyes<br />
                                    All winter
                                </span>
                                <a class="button orange" href="#">Shop Now</a>
                            </div>
                        </figure>

                    </div>
                </div>
                <div class="col-md-9">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#1c" data-toggle="tab">ultra-sharp TV </a></li>
                        <li><a href="#2c" data-toggle="tab">Global 3D TV</a></li>
                        <li><a href="#3c" data-toggle="tab">curved TV</a></li>
                        <li><a href="#4c" data-toggle="tab">Flat Screen Television</a></li>
                    </ul>
                    <div class="product-tabs-content tab-content clearfix">
                        <div class="tab-pane active" id="1c">
                            <!-- Slide show -->
                            <div class="slide-thumbs slide-bx">
                                <div class="thumbs">
                                    <a data-slide-index="0" href=""><img src="~/Client/assets/images/tv1.jpg" alt="sm-big"></a>
                                    <a data-slide-index="1" href=""><img src="~/Client/assets/images/tv2.jpg" alt="sm-big"></a>
                                    <a data-slide-index="2" href=""><img src="~/Client/assets/images/tv3.jpg" alt="sm-big"></a>
                                </div>
                                <div class="slide-container">
                                    <img src="~/Client/assets/images/tv-big2.jpg" alt="sm-big">
                                    <img src="~/Client/assets/images/tv-big2.jpg" alt="sm-big">
                                    <img src="~/Client/assets/images/tv-big2.jpg" alt="sm-big">
                                </div>
                            </div>
                            <!-- ./Slide show -->
                        </div>
                        <div class="tab-pane" id="2c">
                            <!-- Slide show -->
                            <div class="slide-thumbs slide-bx">
                                <div class="thumbs">
                                    <a data-slide-index="0" href=""><img src="~/Client/assets/images/tv2.jpg" alt="sm-big"></a>
                                    <a data-slide-index="1" href=""><img src="~/Client/assets/images/tv1.jpg" alt="sm-big"></a>
                                    <a data-slide-index="2" href=""><img src="~/Client/assets/images/tv3.jpg" alt="sm-big"></a>
                                </div>
                                <div class="slide-container">
                                    <img src="~/Client/assets/images/tv-big2.jpg" alt="sm-big">
                                    <img src="~/Client/assets/images/tv-big2.jpg" alt="sm-big">
                                    <img src="~/Client/assets/images/tv-big2.jpg" alt="sm-big">
                                </div>
                            </div>
                            <!-- ./Slide show -->
                        </div>
                        <div class="tab-pane" id="3c">
                            <!-- Slide show -->
                            <div class="slide-thumbs slide-bx">
                                <div class="thumbs">
                                    <a data-slide-index="0" href=""><img src="~/Client/assets/images/tv3.jpg" alt="sm-big"></a>
                                    <a data-slide-index="1" href=""><img src="~/Client/assets/images/tv2.jpg" alt="sm-big"></a>
                                    <a data-slide-index="2" href=""><img src="~/Client/assets/images/tv1.jpg" alt="sm-big"></a>
                                </div>
                                <div class="slide-container">
                                    <img src="~/Client/assets/images/tv-big2.jpg" alt="sm-big">
                                    <img src="~/Client/assets/images/tv-big2.jpg" alt="sm-big">
                                    <img src="~/Client/assets/images/tv-big2.jpg" alt="sm-big">
                                </div>
                            </div>
                            <!-- ./Slide show -->
                        </div>
                        <div class="tab-pane" id="4c">
                            <!-- Slide show -->
                            <div class="slide-thumbs slide-bx">
                                <div class="thumbs">
                                    <a data-slide-index="0" href=""><img src="~/Client/assets/images/tv2.jpg" alt="sm-big"></a>
                                    <a data-slide-index="1" href=""><img src="~/Client/assets/images/tv3.jpg" alt="sm-big"></a>
                                    <a data-slide-index="2" href=""><img src="~/Client/assets/images/tv1.jpg" alt="sm-big"></a>
                                </div>
                                <div class="slide-container">
                                    <img src="~/Client/assets/images/tv-big2.jpg" alt="sm-big">
                                    <img src="~/Client/assets/images/tv-big2.jpg" alt="sm-big">
                                    <img src="~/Client/assets/images/tv-big2.jpg" alt="sm-big">
                                </div>
                            </div>
                            <!-- ./Slide show -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End .television -->
    </div>
</section>
<section id="section6">
    <div class="container">
        <!-- Product list -->
        <div class="product-list">
            <div class="product-list-content">
                <div class="product-media">
                    <figure><a href="#"><img src="~/Client/assets/images/t1.jpg" alt="feature" width="200" height="238"></a></figure>
                </div>
                <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                <ul class="product-item-actions">
                    <li><a href="#"><i class="flaticon-like"></i></a></li>
                    <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                    <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                </ul>
            </div>
            <div class="product-list-content">
                <div class="product-media">
                    <figure><a href="#"><img src="~/Client/assets/images/t2.jpg" alt="feature" width="200" height="238"></a></figure>
                </div>
                <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                <ul class="product-item-actions">
                    <li><a href="#"><i class="flaticon-like"></i></a></li>
                    <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                    <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                </ul>
            </div>
            <div class="product-list-content">
                <div class="product-media">
                    <figure><a href="#"><img src="~/Client/assets/images/t3.jpg" alt="feature" width="200" height="238"></a></figure>
                </div>
                <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                <ul class="product-item-actions">
                    <li><a href="#"><i class="flaticon-like"></i></a></li>
                    <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                    <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                </ul>
            </div>
            <div class="product-list-content">
                <div class="product-media">
                    <figure><a href="#"><img src="~/Client/assets/images/t4.jpg" alt="feature" width="200" height="238"></a></figure>
                </div>
                <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                <ul class="product-item-actions">
                    <li><a href="#"><i class="flaticon-like"></i></a></li>
                    <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                    <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                </ul>
            </div>
            <div class="product-list-content">
                <div class="product-media">
                    <figure><a href="#"><img src="~/Client/assets/images/t5.jpg" alt="feature" width="200" height="238"></a></figure>
                </div>
                <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                <ul class="product-item-actions">
                    <li><a href="#"><i class="flaticon-like"></i></a></li>
                    <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                    <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="product-list">
            <div class="product-list-content">
                <div class="product-media">
                    <figure><a href="#"><img src="~/Client/assets/images/t6.jpg" alt="feature" width="200" height="238"></a></figure>
                </div>
                <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                <ul class="product-item-actions">
                    <li><a href="#"><i class="flaticon-like"></i></a></li>
                    <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                    <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                </ul>
            </div>
            <div class="product-list-content">
                <div class="product-media">
                    <figure><a href="#"><img src="~/Client/assets/images/t7.jpg" alt="feature" width="200" height="238"></a></figure>
                </div>
                <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                <ul class="product-item-actions">
                    <li><a href="#"><i class="flaticon-like"></i></a></li>
                    <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                    <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                </ul>
            </div>
            <div class="product-list-content">
                <div class="product-media">
                    <figure><a href="#"><img src="~/Client/assets/images/t8.jpg" alt="feature" width="200" height="238"></a></figure>
                </div>
                <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                <ul class="product-item-actions">
                    <li><a href="#"><i class="flaticon-like"></i></a></li>
                    <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                    <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                </ul>
            </div>
            <div class="product-list-content">
                <div class="product-media">
                    <figure><a href="#"><img src="~/Client/assets/images/t9.jpg" alt="feature" width="200" height="238"></a></figure>
                </div>
                <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                <ul class="product-item-actions">
                    <li><a href="#"><i class="flaticon-like"></i></a></li>
                    <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                    <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                </ul>
            </div>
            <div class="product-list-content">
                <div class="product-media">
                    <figure><a href="#"><img src="~/Client/assets/images/t10.jpg" alt="feature" width="200" height="238"></a></figure>
                </div>
                <a href="#" class="feature-slide-name">Beatvs Solo2 On-Ear</a>
                <p class="feature-slide-cost"><span class="price">$168.00</span></p>
                <ul class="product-item-actions">
                    <li><a href="#"><i class="flaticon-like"></i></a></li>
                    <li><a href="#"><i class="flaticon-arrows"></i></a></li>
                    <li><a href="#"><i class="flaticon-commerce"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>