<div class="detail-slide relates">
    <h3 class="title-detail-slide">Related Products</h3>
    <div class="supermartket-owl-carousel" data-number="5" data-margin="30" data-navcontrol="yes">
        <div class="product-box">
            <div class="product-box-content">
                <figure class="img-product">
                    <img src="assets/images/p1.jpg" alt="product" height="207" width="175">
                    <a href="#" class="flaticon-search"></a>
                </figure>
                <div class="product-box-text">
                    <a href="#" class="product-name">Men's Skagen Watch</a>
                    <p class="product-cost">$200.00</p>
                    <div class="product-box-bottom">
                        <a href="#" class="add-to-cart"><i class="flaticon-commerce"></i>Add To Cart</a>
                        <a href="#" class="wishlist"><i class="flaticon-like"></i></a>
                        <a href="#" class="refresh-product"><i class="flaticon-arrows"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="product-box">
            <div class="product-box-content">
                <figure class="img-product">
                    <img src="assets/images/p1.jpg" alt="product" height="207" width="175">
                    <a href="#" class="flaticon-search"></a>
                </figure>
                <div class="product-box-text">
                    <a href="#" class="product-name">Men's Skagen Watch</a>
                    <p class="product-cost">$200.00</p>
                    <div class="product-box-bottom">
                        <a href="#" class="add-to-cart"><i class="flaticon-commerce"></i>Add To Cart</a>
                        <a href="#" class="wishlist"><i class="flaticon-like"></i></a>
                        <a href="#" class="refresh-product"><i class="flaticon-arrows"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="product-box">
            <div class="product-box-content">
                <figure class="img-product">
                    <img src="assets/images/p1.jpg" alt="product" height="207" width="175">
                    <a href="#" class="flaticon-search"></a>
                </figure>
                <div class="product-box-text">
                    <a href="#" class="product-name">Men's Skagen Watch</a>
                    <p class="product-cost">$200.00</p>
                    <div class="product-box-bottom">
                        <a href="#" class="add-to-cart"><i class="flaticon-commerce"></i>Add To Cart</a>
                        <a href="#" class="wishlist"><i class="flaticon-like"></i></a>
                        <a href="#" class="refresh-product"><i class="flaticon-arrows"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="product-box">
            <div class="product-box-content">
                <figure class="img-product">
                    <img src="assets/images/p1.jpg" alt="product" height="207" width="175">
                    <a href="#" class="flaticon-search"></a>
                </figure>
                <div class="product-box-text">
                    <a href="#" class="product-name">Men's Skagen Watch</a>
                    <p class="product-cost">$200.00</p>
                    <div class="product-box-bottom">
                        <a href="#" class="add-to-cart"><i class="flaticon-commerce"></i>Add To Cart</a>
                        <a href="#" class="wishlist"><i class="flaticon-like"></i></a>
                        <a href="#" class="refresh-product"><i class="flaticon-arrows"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="product-box">
            <div class="product-box-content">
                <figure class="img-product">
                    <img src="assets/images/p1.jpg" alt="product" height="207" width="175">
                    <a href="#" class="flaticon-search"></a>
                </figure>
                <div class="product-box-text">
                    <a href="#" class="product-name">Men's Skagen Watch</a>
                    <p class="product-cost">$200.00</p>
                    <div class="product-box-bottom">
                        <a href="#" class="add-to-cart"><i class="flaticon-commerce"></i>Add To Cart</a>
                        <a href="#" class="wishlist"><i class="flaticon-like"></i></a>
                        <a href="#" class="refresh-product"><i class="flaticon-arrows"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="product-box">
            <div class="product-box-content">
                <figure class="img-product">
                    <img src="assets/images/p1.jpg" alt="product" height="207" width="175">
                    <a href="#" class="flaticon-search"></a>
                </figure>
                <div class="product-box-text">
                    <a href="#" class="product-name">Men's Skagen Watch</a>
                    <p class="product-cost">$200.00</p>
                    <div class="product-box-bottom">
                        <a href="#" class="add-to-cart"><i class="flaticon-commerce"></i>Add To Cart</a>
                        <a href="#" class="wishlist"><i class="flaticon-like"></i></a>
                        <a href="#" class="refresh-product"><i class="flaticon-arrows"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>