@model ShoeEcommerce.Model.Products.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Share/LayoutAdmin.cshtml";
}

<h2>Create</h2>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idCategory" class="control-label"></label>
                <input asp-for="idCategory" class="form-control" />
                <span asp-validation-for="idCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nameCategory" class="control-label"></label>
                <input asp-for="nameCategory" class="form-control" />
                <span asp-validation-for="nameCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="link_imageCategory" class="control-label"></label>
                <input asp-for="link_imageCategory" class="form-control" />
                <span asp-validation-for="link_imageCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Sex" /> @Html.DisplayNameFor(model => model.Sex)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

