
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Share/_BlankLayout.cshtml";
}

<div class="header">
    <div class="header-main">
        <h1>Đăng nhập</h1>
        <div class="header-bottom">
            <div class="header-right w3agile">
                @{
                    if (!String.IsNullOrEmpty(ViewBag.message))
                    {
                        <div class="panel alert alert-dismissible">
                            @ViewBag.message
                        </div>
                    }


                }
                <div class="header-left-bottom agileinfo">

                    <form asp-action="Index" method="post">
                        <input type="text" name="username" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'Tài khoản'; }" placeholder=" Nhập tài khoản" autofocus/>
                        <input type="password" name="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}" placeholder="Nhập mật khẩu" />
                        <div class="remember">
                            <span class="checkbox1">
                                <label class="checkbox"><input type="checkbox" name="remember" checked=""><i> </i>Nhớ mật khẩu</label>
                            </span>
                            <div class="forgot">
                                <h6><a href="#">Quên mật khẩu?</a></h6>
                            </div>
                            <div class="clear"> </div>
                        </div>

                        <input type="submit" value="Đăng nhập">
                    </form>
                    <div class="header-left-top">
                        <div class="sign-up"> <h2>or</h2> </div>

                    </div>
                    <div class="header-social wthree">
                        <a href="#" class="face"><h5>Facebook</h5></a>
                        <a href="#" class="twitt"><h5>Twitter</h5></a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!--header end here-->
<div class="copyright">
    <p>© Shoes Website eCommerce </a></p>
</div>
<!--footer end here-->
