<div class="detail-products product-tabs">
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#1a" data-toggle="tab">Description</a>
        </li>
        <li>
            <a href="#2a" data-toggle="tab">Tags</a>
        </li>
        <li>
            <a href="#3a" data-toggle="tab">Reviews (0)</a>
        </li>
        <li>
            <a href="#4a" data-toggle="tab">Additional</a>
        </li>
        <li>
            <a href="#5a" data-toggle="tab">Custom Tab</a>
        </li>
    </ul>
    <div class="product-tabs-content tab-content clearfix">
        <div class="tab-pane active" id="1a">
            Lorem ipsum dolor sit amet, an munere tibique consequat mel, congue albucius no qui,
            at everti meliore erroribus sea. Vero graeco cotidieque ea duo, in eirmod insolens
            interpretaris nam. Pro at nostrud percipit definitiones, eu tale porro cum. Sea ne accusata
            voluptatibus. Ne cum falli dolor voluptua, duo ei sonet choro facilisis, labores officiis torquatos cum ei.
            <br /><br />

            Cum altera mandamus in, mea verear disputationi et. Vel regione discere ut,
            legere expetenda ut eos. In nam nibh invenire similique. Atqui mollis ea his,
            ius graecis accommodare te. No eam tota nostrum cotidieque. Est cu nibh clita.
            Sed an nominavi maiestatis, et duo corrumpit constituto, duo id rebum lucilius.
            Te eam iisque deseruisse, ipsum euismod his at. Eu putent habemus voluptua sit,
            sit cu rationibus scripserit, modus voluptaria ex per. Aeque dicam consulatu eu his,
            probatus neglegentur disputationi sit et. Ei nec ludus epicuri petentium, vis appetere maluisset ad.
            Et hinc exerci utinam cum. Sonet saperet nominavi est at, vel eu sumo tritani. Cum ex minim legere.
            <br /><br />

            Eos cu utroque inermis invenire, eu pri alterum antiopam. Nisl erroribus definitiones
            nec an, ne mutat scripserit est. Eros veri ad pri. An soleat maluisset per.
            Has eu idque similique, et blandit scriptorem necessitatibus mea. Vis quaeque ocurreret ea.
        </div>
        <div class="tab-pane" id="2a">
            <div class="tagcloud">
                <a href="#">Cotton</a>
                <a href="#">Leggings</a>
                <a href="#">Men</a>
                <a href="#">Shirt</a>
                <a href="#">T-shirt</a>
                <a href="#">COSMETIC</a>
                <a href="#">SOFT WEAR</a>
                <a href="#">ACCESSORIES</a>
                <a href="#">LIFE STYLE</a>
            </div>
        </div>
        <div class="tab-pane" id="3a">
            <div id="reviews">
                <div id="comments">
                    <h2 class="review-title">2 reviews for ArchitectMade Oscar Figure</h2>
                    <ol class="commentlist">
                        <li class="comment">
                            <div class="comment_container">
                                <img alt="rev" src="assets/images/p1.jpg" width="100" height="100" class="avatar">
                                <div class="comment-text">
                                    <div class="meta">
                                        <strong>Stuart</strong>-
                                        <time datetime="2013-06-07T13:01:25+00:00">June 7, 2013</time>
                                        <div class="rating" title="Rated 5 out of 5">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <p>This will go great with my Hoodie that I ordered a few weeks ago.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="comment">
                            <div class="comment_container">
                                <img alt="rev" src="assets/images/p2.jpg" width="100" height="100" class="avatar">
                                <div class="comment-text">
                                    <div class="meta">
                                        <strong>Stuart</strong>-
                                        <time datetime="2013-06-07T13:01:25+00:00">June 7, 2013</time>
                                        <div class="rating" title="Rated 5 out of 5">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <p>This will go great with my Hoodie that I ordered a few weeks ago.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
                <div id="review_form">
                    <div class="comment-respond">
                        <h3 class="comment-reply-title">Add a review</h3>
                        <form class="comment-form">
                            <p>
                                <label>Name</label>
                                <input type="text">
                            </p>
                            <p>
                                <label>Email</label>
                                <input type="email">
                            </p>
                            <p>
                                <label>Comment</label>
                                <textarea rows="3"></textarea>
                            </p>
                            <p>
                                <a class="button orange" href="#">Submit</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="4a">
            <p>
                Cum altera mandamus in, mea verear disputationi et. Vel regione discere ut,
                legere expetenda ut eos. In nam nibh invenire similique. Atqui mollis ea his,
                ius graecis accommodare te. No eam tota nostrum cotidieque. Est cu nibh clita.
                Sed an nominavi maiestatis, et duo corrumpit constituto, duo id rebum lucilius.
                Te eam iisque deseruisse, ipsum euismod his at. Eu putent habemus voluptua sit,
                sit cu rationibus scripserit, modus voluptaria ex per. Aeque dicam consulatu eu his,
            </p>
        </div>
        <div class="tab-pane" id="5a">
            <div class="tagcloud">
                <a href="#">Cotton</a>
                <a href="#">Leggings</a>
                <a href="#">Men</a>
                <a href="#">Shirt</a>
                <a href="#">T-shirt</a>
                <a href="#">COSMETIC</a>
                <a href="#">SOFT WEAR</a>
                <a href="#">ACCESSORIES</a>
                <a href="#">LIFE STYLE</a>
            </div>
        </div>
    </div>
</div>