@model IEnumerable<ShoeEcommerce.Model.Products.Product>
<section id="section7">
    <div class="container">
        <!-- Title block -->
        <div class="title-block title-block-style1">
            <h5 class="title-left">Brand Sale</h5>
        </div>
        <!-- Title block -->

        <div class="brand-sale">
            @foreach (var item in Model)
            {
                var Store = Model.Skip(1).Take(6);
                <div class="brand-sale-box row">
                    <div class="col-md-7">
                        <a href="#" class="brand-media"><img src="~/Client/assets/images/sale1.jpg" alt="sale" width="649" height="269"></a>
                    </div>
                    <div class="col-md-5">
                        <div class="brand-sale-box-content">
                            <a href="#" class="brand-logo"><img src="~/Client/assets/images/sale-logo1.jpg" alt="sale"></a>
                            <p class="sale-name">@item.nameProduct</p>
                            <div class="sale-count">
                                <del>@item.OldPrice</del>
                                <span>@item.Price</span>
                            </div>
                            <div class="sale-time">
                                <i class="flaticon-timer"></i>
                                <div class="block-title ">
                                    <div class="deals-of-countdown">
                                        <div class="count-down-time" data-countdown="2016/11/27 1:00:43"></div>
                                    </div>
                                </div>
                                <a class="orange" href="#">Shop Now</a>

                            </div>
                        </div>
                    </div>
                </div>
            }

            @*<div class="brand-sale-box row">
                <div class="col-md-7">
                    <a href="#" class="brand-media"><img src="~/Client/assets/images/sale2.jpg" alt="sale" width="649" height="269"></a>
                </div>
                <div class="col-md-5">
                    <div class="brand-sale-box-content">
                        <a href="#" class="brand-logo"><img src="~/Client/assets/images/sale-logo2.jpg" alt="sale"></a>
                        <p class="sale-name">Electroluxs Smartboost Premixes</p>
                        <div class="sale-count">
                            <del>$168.00</del>
                            <span>$150.00</span>
                        </div>
                        <div class="sale-time">
                            <i class="flaticon-timer"></i>
                            <div class="block-title ">
                                <div class="deals-of-countdown">
                                    <div class="count-down-time" data-countdown="2016/12/27 12:22:12"></div>
                                </div>
                            </div>
                            <a class="orange" href="#">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="brand-sale-box row">
                <div class="col-md-7">
                    <a href="#" class="brand-media"><img src="~/Client/assets/images/sale3.jpg" alt="sale"></a>
                </div>
                <div class="col-md-5">
                    <div class="brand-sale-box-content">
                        <a href="#" class="brand-logo"><img src="~/Client/assets/images/sale-logo3.jpg" alt="sale"></a>
                        <p class="sale-name">Sharp Smartboost Premixes</p>
                        <div class="sale-count">
                            <del>$168.00</del>
                            <span>$150.00</span>
                        </div>
                        <div class="sale-time">
                            <i class="flaticon-timer"></i>
                            <div class="block-title ">
                                <div class="deals-of-countdown">
                                    <div class="count-down-time" data-countdown="2017/8/2 12:00:03"></div>
                                </div>
                            </div>
                            <a class="orange" href="#">Shop Now</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="brand-sale-box row">
                <div class="col-md-7">
                    <a href="#"><img src="~/Client/assets/images/sale4.jpg" alt="sale" width="649" height="269"></a>
                </div>
                <div class="col-md-5">
                    <div class="brand-sale-box-content">
                        <a href="#" class="brand-logo"><img src="~/Client/assets/images/sale-logo4.jpg" alt="sale"></a>
                        <p class="sale-name">Griffin PowerDock for Moto X</p>
                        <div class="sale-count">
                            <del>$168.00</del>
                            <span>$150.00</span>
                        </div>
                        <div class="sale-time">
                            <i class="flaticon-timer"></i>
                            <div class="block-title ">
                                <div class="deals-of-countdown">
                                    <div class="count-down-time" data-countdown="2018/8/8 12:09:14"></div>
                                </div>
                            </div>
                            <a class="orange" href="#">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</section>
<section id="section8">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 padding-right5">
                <div class="banner-text wow zoomIn" data-wow-delay="0.6s">
                    <figure><a href="#"><img src="~/Client/assets/images/banner-text.jpg" alt=""></a></figure>
                </div>
            </div>
            <div class="col-sm-6 padding-left5">
                <div class="banner-text wow zoomIn" data-wow-delay="0.6s">
                    <figure><a href="#"><img src="~/Client/assets/images/banner-text3.jpg" alt=""></a></figure>
                </div>
            </div>
        </div>
    </div>
</section>